{
    "extends": ["airbnb", "plugin:prettier/recommended", "prettier/react"],
    "plugins": ["prettier"],
    "rules": {
      "prettier/prettier": ["error"]
    },

    "settings": {
        "jsx": true
    }
  }